<%- include("../partials/header") %>
<div class="container mt-5">
    <h1>Welcome to Admin Dashboard</h1>
    <ul>
        <li><a href="/admin/doctors">Manage Doctors</a></li>
        <li><a href="/admin/hospitals">Manage Hospitals</a></li>
    </ul>
</div>
<%- include("../partials/footer") %>
