
    <title>Health Articles</title>
   

    <%- include('../partials/header') %>

    <main class="container my-5">
        <h1 class="text-center mb-4">Expert Health Articles</h1>
        <p class="lead text-center">Explore a collection of articles written by health professionals to keep you informed on the latest trends and expert advice in healthcare.</p>

        <section>
            <h2>Featured Articles</h2>
            <ul>
                <li><strong><a href="/articles/1">The Power of Physical Activity</a></strong> - How regular exercise can reduce your risk of chronic diseases and improve mental health.</li>
                <li><strong><a href="/articles/2">Eating for Optimal Health</a></strong> - Learn how your diet plays a pivotal role in preventing diseases and promoting overall well-being.</li>
                <li><strong><a href="/articles/3">Mental Health in the Digital Age</a></strong> - The impact of technology on mental health and strategies for maintaining well-being in a hyper-connected world.</li>
                <li><strong><a href="/articles/4">Vaccines: Why They Matter</a></strong> - Understand the importance of vaccines in protecting individuals and communities from preventable diseases.</li>
            </ul>
        </section>
    </main>
    <br>
    <br>
    <br>
    <br>
    <bR>
    <%- include('../partials/footer') %>

 
